

.income-container {
  display: grid;
  grid-template-columns: 1fr;
}

.expense-container {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.expense-title {
  margin-bottom: 3px;
}


@media only screen and (max-width: 770px)  {
  .income-container {
    grid-template-columns: 50% 50%;
  } 

  .expense-container {
    padding-left: 5px;
    width: 100%x;
  }

  .expense-real-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
}