.welcome {
  padding-bottom: 15px;
}

.balance-input {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  position: relative;
  width: 100%;
}
.balance-input input {
  background: none;
  border: none;
  width: 100%;
}

