.home-container {
  min-width: 50%;
  height: 76vh;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: 20px 0;
}

.transaction-container {
  text-align: center;
}

@media only screen and (max-width: 375px) {
  .transaction-container {
    display: none;
  }

  .home-history {
    min-height: 100%
  }
}


@media only screen and (max-width: 770px) {
  .home-container {
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin: 0;
    margin: 20px 0;
    height: 100%;
  }
}