.logout {
  background: none;
  border: none;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.logout-form {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.logout-form-buttons button:nth-child(1) {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.logout-form-buttons button:nth-child(2) {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  margin-left: 5px;
}