.header-container {
  min-width: 100%; 
  margin: auto;
  padding: 0 10px;
  
  background-color: black;
}

.navbar {
  width: 80%;
  min-height: 10vh; 
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-title {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: var(--color-white);
}

.navbar-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.navbar-link {
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .navbar-link-container {
    width: 30%;
  }

  .navbar {
    width: 100%;
  }
}