
.history-items {
  height: 50vh;
  padding: 0 20px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.history-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 50%;
  align-items: center;
  height: 30px;
  list-style: none;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: lighter;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.history-item-container:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.history-item-subject {
  flex: 2;
}

.history-item-money {
  flex: 1;
}

.history-empty {
  text-align: center;
  padding-top: 80px;
  font-weight: 200;
}

.history-date {
  margin-bottom: 5px;
}
#addButton {
  display: none;
}

@media only screen and (max-width: 375px) {
  #addButton {
    display: inline;
  }
}

@media only screen and (max-width: 770px) {

  .history-items {
    border: none
  }

}