
.balance__container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 4rem;
    
}
.balance__container h2{
    font-size: 1.8em;
}
.balance-icon{
    font-size: 2.2rem;
    border: 1px;
    margin-left: 0.5rem;
}
.balance-title {
  margin-bottom: 0.5rem;
  font-size: 2.5em;
}

.balance-cash {
  background-color: black;
  font-family: 'Quantico', sans-serif;
  font-weight: 600;
  padding: 2rem 6rem;
  border-radius: 2.6rem;
  color: var(--white);
  font-size: 4rem;
  box-shadow: 8px 5px 40px rgba(0, 0, 0, 0.4);
}

.balance-button {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
  display: none;
}

