.section__balance{
    margin: 0;
    padding: 0;
    margin-top: 0.2rem;

}
.balance__container{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.balance__container h2{
    font-size: 1.8em;
}
.balance-icon{
    font-size: 2.2rem;
    border: 1px;
    margin-left: 0.5rem;
}
.balance-title {
  margin-bottom: 0.5rem;
  font-size: 2.5em;
}

.balance-cash {
  background-color: black;
  font-family: 'Quantico', sans-serif;
  padding: 2rem 6rem;
  border-radius: 2.6rem;
  color: white;
  font-size: 4rem;
}

.balance-button {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}
