
.balance-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  min-width: 50%;
  min-height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245 ,245, 245);
  margin-bottom: 20px;    
}

.balance-title {
  width: 230px;
  text-align: center;
}

.balance-money {
  font-size: 30px;
}

@media only screen and (max-width: 1055px) {
  .balance-container {
    text-align: center;
    width: 80%;
  }

}

@media only screen and (max-width: 770px) {

  .balance-container {
    text-align: center;
    width: 100%;
  }

  .balance-title {
    width: 100%;
  }

}