@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Righteous', cursive;
}

:root {
  --color-red: #dc3445;
  --color-green: #28a745;
  --white: #f3f3f3;
  --grey: #646464;
  --light-grey: #f9f9f9;
  --dark-grey: #878787;
  --form-grey: #c4c4c4
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black
}

.section-title {
  background-color: var(--white);
  height: 7.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--dark-grey);
  line-height: 7.5rem;
  margin-top: 5px
}


/* DISPLAYS */

.none {
  display: none !important;
}


/* BG COLOR */

.green {
  background-color: var(--color-green) !important;
}

.red{
  background-color: var(--color-red) !important;
}


.white {
  color: white;
}

/* BUTTONS */

.btn {
  border: none;
  background-color: var(--dark-grey);
  padding: 15px 10px;
  width: 100px;
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 2rem
}

@import './styles/form.css';