
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Sans+Pro:ital,wght@0,400;1,200&display=swap');


:root {
  --color-white: rgb(240, 240, 240);
  --color-red: rgb(255, 105, 94);
  --color-green: rgb(94, 255, 153);
  --color-red-dark: rgb(233, 77, 66);
  --color-green-dark: rgb(34, 255, 115);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  list-style: none;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-white);  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont {
  width: 80%;
  margin: auto;
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper {
  width: 70%;
  margin: auto;
  height: 90vh;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-40 {
  font-size: 40px;
}

.column {
  flex-direction: column;
}

.none {
  position: absolute;
  opacity: 0;
}

.ghost {
  display: none;
}

/* Backgrounds */

.green {
  background-color: var(--color-green) !important;
}

.red {
  background-color: var(--color-red) !important;
}

/* Title */

.center {
  text-align: center;
}

.title-section {
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* BUTTON */

.btn{
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.big {
  width: 100%;
}

.btn-empty {
  border: none;
  background: none;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

.round-btn {
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.6s ease;
  opacity: 1;
  position: absolute;
  right: -50px;
}

.round-btn:hover {
  background-color: var(--color-green);
}

.add-btn {
  border: none;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background: none;
  width: 20px;
  border-radius: 40%;
  cursor: pointer;  
  transition: all 0.3s ease;
}

.delete-btn:hover {
  color: white;
}

/* FORM */

form {
  margin: 20px 0;
}

.form-control {
  margin-bottom: 10px;
}

.form-control input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  background: none;
}

.form-title-container {
  margin-bottom: 35px;
  position: relative;
}

.form-button {
  display: flex;
  justify-content: center;
}

.redirect {
  font-size: 12px;
  text-decoration: underline;
  
}

.redirect a {
  color: #333;
}

/* ERROR */

.error-message {
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

@media only screen and (max-width: 770px) {
  .cont {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
  .f-40 {
    font-size: 30px;
  }
}